/* Importações de fontes */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #cdda6d;
    --color-secondary: #c8b050;
    --color-text: #fff;
    --color-text-dark: #2e353d;
    --color-bg-dark: #323a43;
    --color-bg-light: #f8f8f9;
    --font-primary: 'Playfair Display', serif;
    --font-secondary: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    color: var(--color-text-dark);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    margin-bottom: 1rem;
}


p {
    margin-bottom: 1rem;
}

#barra {
    display: none;
}

#lupa {
    color: var(--color-text);
}

/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(39, 45, 52, 0.4);
    z-index: 1000;
    padding: 1rem 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-text);
}

.logo-img {
    width: 40px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 2rem;
}

.nav-list a {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-list a:hover,
.nav-list a.active {
    color: var(--color-primary);
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    color: var(--color-text);
    cursor: pointer;
}


.hero {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.hero-content {
    max-width: 600px;
    text-align: center;
}

.hero h3 {
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.hero h1 span {
    color: var(--color-primary);
}

.hero p {
    font-family: var(--font-secondary);
    margin-bottom: 2rem;
}

/* botões */
.btn {
    display: inline-block;
    padding: 12px 24px;
    font-family: var(--font-secondary);
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-text-dark);
}

.btn-primary:hover {
    background-color: transparent;
    color: var(--color-text);
}

.btn-secondary {
    background-color: var(--color-secondary);
    color: var(--color-text);
}

.btn-secondary:hover {
    background-color: var(--color-text);
    color: var(--color-secondary);
}

/* Section */
.features {
    width: 100%;
    padding: 0 100px;
    position: relative;
    margin-top: -150px;
}

.features-content {
    width: 100%;
    height: 330px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    color: var(--color-text);
    padding: 0 110px;
}

#square-1 {
    background-color: #353e47;
}

#square-1 i {
    color: var(--color-secondary);
    font-size: 3rem;
}

.features-span {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.features-paragraph {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

#features-span-gold {
    color: var(--color-secondary);
}

#square-2 {
    background-color: #323a43;
}

#gavel-icon {
    font-size: 3rem;
}

#square-3 {
    background-color: #2e353d;
    padding: 0 100px;
}

#square-3 i {
    color: var(--color-secondary);
    font-size: 3rem;
}

.divider {
    border: none;
    border-top: 3px solid var(--color-secondary);
    border-radius: 20px;
    margin: 10px 0;
    width: 45%;
}

#divider-white {
    border-top: 3px solid var(--color-text);
}

/* Sessão About */
.about {
    padding: 6rem 0;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.about-text {
    flex: 1;
}

.about-text h5 {
    font-size: 1rem;
    letter-spacing: 3px;
    color: var(--color-text-dark);
    margin-bottom: 1rem;
}

.about-text h2 {
    font-size: 2.5rem;
    color: var(--color-secondary);
    margin-bottom: 2rem;
}

.about-text .highlight {
    font-weight: bold;
    font-family: var(--font-secondary);
    margin-bottom: 1.5rem;
}

.about-cta {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.signature {
    max-width: 100px;
}

.attorney-container {
    flex: 1;
    display: flex;
    align-items: end;
}

.attorney-img {
    max-width: 100%;
    height: auto;
    margin-bottom: -103px;
}


/* practice area*/
.practice-areas {
    background-color: var(--color-bg-dark);
    padding: 6rem 0;
}

.practice-areas-title {
    text-align: center;
    margin-bottom: 3rem;
}

.practice-areas-title h2 {
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.practice-areas-title h1 {
    font-size: 3.5rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

#practice-areas-divider {
    width: 5%;
    margin: 0 auto;
}

.practice-areas-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.practice-areas-square {
    display: flex;
    background-color: var(--color-bg-light);
    padding: 2rem;
    transition: transform 0.3s ease;
}

.practice-areas-square:hover {
    transform: translateY(-10px);
}

.practice-areas-icon {
    margin-right: 1rem;
}

#service-icon {
    color: var(--color-secondary);
    font-size: 3rem;
}

.practice-areas-text {
    flex: 1;
}

.service-title {
    color: var(--color-text-dark);
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.service-description {
    color: var(--color-text-dark);
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 500;
}



/* Testimonials Section */
.testimonials {
    padding: 6rem 0;
}
.testimonial-title {
    height: 30%;
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divider-testimonial {
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0 20px;
    width: 45%;
    width: 5%;
}

.testimonials  h2{
    color: var(--color-bg-dark);
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
}

.testimonials h1 {
    margin: 0;
    font-size: 3.5rem;
    color: var(--color-secondary);
    text-align: center;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.testimonial-item {
    background-color: var(--color-bg-light);
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: -1px 2px 10px 0 rgba(0, 0, 0, 0.4)
}

.testimonial-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 auto 1rem;
}

.testimonial-item i {
    font-size: 2rem;
    color: var(--color-secondary);
    margin-bottom: 1rem;
}

.testimonial-item h4 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.testimonial-item span {
    font-family: var(--font-secondary);
    color: var(--color-secondary);
}

/* Contact Section */
.contact {
    background-color: var(--color-bg-dark);
    padding: 6rem 0;
    color: var(--color-text);
}

.contact-content {
    display: flex;
    gap: 4rem;
}

.contact-image {
    flex: 1;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.contact-form {
    flex: 1;
}

.contact-form p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: var(--font-secondary);

}

.contact-form h1 {
    font-size: 3.5rem;
    color: var(--color-secondary);
}
.contact-form h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: var(--color-text);
}
#form-divider {
    width: 15%;
    font-size: 3.5rem;
    color: var(--color-secondary); 
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-row {
    display: flex;
    gap: 1rem;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-text);
    font-family: var(--font-secondary);
}

input::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Footer */
.footer {
    background-color: var(--color-bg-dark);
    padding: 4rem 0;
    color: var(--color-text);
}

.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.footer-about, .footer-posts {
    flex: 1;
}

.footer h4 {
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin-bottom: 2rem;
    color: var(--color-secondary);
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    cursor: pointer;
}

#facebook-icon:hover {
    transition: 0.2s;
    color: #007bff;
}

#telegram-icon:hover {
    transition: 0.2s;
    color: #17a2b8;
}

#linkedin-icon:hover {
    transition: 0.2s;
    color: #007bff;
}

#instagram-icon:hover {
    transition: 0.2s;
    color: #e83e8c;
}

#youtube-icon:hover {
    transition: 0.2s;
    color: #dc3545;
}

.post-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.post-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.post-item p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-family: var(--font-secondary);
}

.post-item span {
    font-size: 0.8rem;
    color: var(--color-secondary);
     font-family: var(--font-secondary);
}

.copyright {
    background-color: var(--color-bg-light);
    padding: 1rem 0;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 0.9rem;
}
/* Responsive */
@media (max-width: 992px) {
    .services-grid, .testimonial-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content, .contact-content {
        flex-direction: column;
    }

    .features {
        padding: 0 40px;
        margin-top: -100px;
    }
    
    .features-content {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 600px;
        row-gap: 20px;
    }
    
    .content {
        height: 300px;
        row-gap: 10px;
        padding: 0 20px;
    }

    .attorney-container {
        width: 100%;
        justify-content: center;
    }

    .attorney-img {
        max-width: 80%;
    }

    .practice-areas-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .services-grid, .testimonial-grid, .practice-areas-content {
        grid-template-columns: 1fr;
    }

    .footer-content {
        flex-direction: column;
    }

    .features {
        padding: 0 20px;
        margin-top: -80px;
    }

    .attorney-img {
        max-width: 90%;
    }
}

@media (max-width: 576px) {
    .features {
        padding: 0 10px;
        margin-top: -60px;
    }

    .form-row {
        flex-direction: column;
    }

    .hero-content {
        padding: 0 1rem;
    }

    .about-cta {
        flex-direction: column;
        align-items: flex-start;
    }

    .attorney-img {
        max-width: 100%;
    }
}
